.projects-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 1rem;
    margin-top: 8rem;
}

.project-item{
    padding: 1rem;
    text-decoration: none;
}

.project-img{
   width: 460px;
}

.project-img:hover{
    opacity: 70%;
}

.project-name{
    color: black;
    font-size: 22px;
    font-weight: 100;
    padding-top: 0.5rem;
}